.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 24px;
}

.content {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 25px;
}

.root li {
    margin-left: 30px;
}

.root ul {
    list-style-type: square;
}

.company {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}