.root{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}

.container .card{
    position: relative;
}

.container .card .face{
    width:200px;
    height: 150px;
    transition:.4s;

}

.container .card .face.face1{
    cursor: pointer;
    position: relative;
    background: linear-gradient(90deg, rgb(232, 1, 129) 0%, rgb(201, 59, 241) 100%);
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(50px);
}

.container .card:hover .face.face1{
    transform: translateY(0);
    box-shadow:
            inset 0 0 60px whitesmoke,
            inset 20px 0 80px #f0f,
            inset -20px 0 80px #0ff,
            inset 20px 0 300px #f0f,
            inset -20px 0 300px #0ff,
            0 0 50px #fff,
            -10px 0 80px #f0f,
            10px 0 80px #0ff;

}


.container .card .face.face1 .content{
    opacity: .7;
    transition:  0.5s;
    text-align: center;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content i{
    font-size: 3em;
    color: white;
    display: inline-block;
}

.container .card .face.face1 .content h3{
    font-size: 1em;
    color: white;
    text-align: center;
}

.container .card .face.face1 .content {
    transition: .2s;
}

.container .card .face.face2{
    position: relative;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0px 30px rgba(197, 30, 203, 0.8);
    transform: translateY(-100px);
}

.content {
    color: #dedede;
}

.container .card:hover .face.face2{
    transform: translateY(0);
}



