.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:16px
}

.content {
    background-color:rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 25px;
}
.title{
    display: flex;
    align-items: center;
    gap: 16px;
}
.doth{
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: #fff;
}
.description {
    font-size: 20px;
    margin-left: 28px;
    margin-top: 6px;
}
.description strong {
    font-size: 25px;
}
.description strong + span{
    font-size: 16px;
    margin-left: 8px;
}