.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:16px
}

.content {
    background-color:rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 25px;
}
.title{
    display: flex;
    align-items: center;
    gap: 16px;
}
.doth{
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: #fff;
}